:root {
    --color-accent: rgb(0, 255, 149);
    --color-light: #fff;
    --color-gray: #eee;
    --color-heading: rgb(255, 255, 255);
    --color-text: rgb(207, 207, 207);
    --color-border: #777;
    --border-radius: 5px;
}


body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-image: url('/img/img.jpg');
    background-color: rgba(2, 44, 63, 0.514);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    font-family: sans-serif;
    color: #eee
}


  main::before {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

  }

/* Grid
------------------------------*/

.container {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

@media(min-width:767px) {
    .grid-md-2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 40px
    }
}

/* Spacings
------------------------------*/

.pt-large {
    padding-top: 120px
}
.pt-medium {
    padding-top:80px
}

@media(min-width:767px) {
    .pt-md-large {
        padding-top: 120px
    }
}


/* Typography
------------------------------*/

p,
span {
    color: #ddd;
}

.bold {
    font-weight: 600
}

/* Calculator
------------------------------*/

  .calculator-wrap {
    margin: 0 auto;
    padding: 2.5em;
    background: inherit;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    z-index: 1;
  }

  input{
    background: 0;
    width: 100%;
    outline: 0;
    border: 0;
    border-bottom: 2px solid rgba(255,255,255, 0.3);
    margin: 20px 0;
    padding-bottom: 10px;
    font-size: 22px;
    font-weight: bold;
    color: rgba(255,255,255, 0.8);
  }

  input[type="submit"]{
    border: 0;
    border-radius: 8px;
    padding-bottom: 0;
    height: 60px;
    background: #df2359;
    color: white;
    cursor: pointer;
    transition: all 600ms ease-in-out;
  }

  input[type="submit"]:hover{
    background: #C0392B;
  }


  .sum-wrap {
    padding: 2em 1.3em;
    margin-top: 1em;
    background-color: rgba(36, 50, 58, 0.349);
    border-radius: var(--border-radius);   
    outline: 1px solid var(--color-border);
    font-size: 22px
}

@media(min-width:767px) {
    .calculator-wrap {
        padding: 5em;
        width: 56%
      }
      .calculator-wrap::before{
        width: 100%;
        height: 100%;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: inherit;
        box-shadow: inset 0 0 0 800px rgba(255,255,255,0.2);
        filter: blur(10px);
        z-index: -1
      }
}


